#root {
  display: flex;
  flex-direction: column;

  align-items: center;
}


.signal-icon {
  width: 210px;
  height: 350px;

  margin: 20px;

  background-color: grey;
}


.button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.button {
  display: flex;
  align-items: center;

  border: solid 2px skyblue;

  width: 40%;
  height: 80px;

  margin: 10px;
}

.button-icon {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  margin: 10px;

  background-color: lightskyblue;
}

.button-text {
  margin: 10px;
}
